@page

@using Insania.Models.OutCategories.Logging;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Авторизация";
    Layout = "/Pages/OutOfCategories/_Layout.cshtml";
}

<body>
    <div class="gridPrimary">
        <label class="labelTitle">Авторизация</label>
        <input id="login" class="inputPrimary" type="text" autocomplete="new-password" placeholder="Логин" />
        <input id="password" class="inputPrimary" type="password" autocomplete="new-password" placeholder="Пароль" />
        <button id="authentication" class="buttonPrimary" type="submit" onclick="Login()">Войти</button>
        <div class="linkPrimary">
            <a asp-action="Index" asp-controller="Users">Забыли пароль?</a>
        </div>
        <div class="linkPrimary">
            <a asp-action="Index" asp-controller="Users">Зарегистрироваться</a>
        </div>
        <label id="error" class="labelError" style="display: none;" />
    </div>
    <button class="buttonSecondary">
        <img class="imagePrimary" src="/images/feedback.png">
    </button>
</body>

<script>
    //Функция авторизации
    function Login() {
        //Получаем элементы
        var login = document.getElementById("login");
        var password = document.getElementById("password");
        var error = document.getElementById("error");

        //Делаем ошибку невидимой
        error.style.display = 'none';
        
        //Проверяем данные
        if (login == undefined || login == null || login.value == undefined || login.value == null || login.value == "") {
            //Выводим ошибку
            ViewError('@Errors.EmptyLogin');

            //Выходим
            return;
        }
        if (password == undefined || password == null || password.value == undefined || password.value == null || password.value == "") {
            //Выводим ошибку
            ViewError('@Errors.EmptyPassword');
            
            //Выходим
            return;
        }
    }

    //Функция отображения ошибки
    function ViewError(text) { 
        //Получаем элементы
        var error = document.getElementById("error");

        //Делаем ошибку видимой
        error.style.display = 'inherit';

        //Устанавливаем текст
        error.innerHTML = text;
    }
</script>