@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Insania.Models.OutCategories.Logging;

@{
    ViewBag.Title = "Авторизация";
    Layout = "/Pages/OutOfCategories/_Layout.cshtml";
}

<body>
    <div class="divAuthorization">
        <div class="divAuthorizationItems">
            <div class="divAuthorizationItem">
                <p class="labelTitlePrimary">Авторизация</p>
            </div>
            <div class="divAuthorizationItem">
                <div class="divAuthorizationItemInput">
                    <input id="login" class="inputPrimary" type="text" autocomplete="new-password" placeholder="Логин" />
                </div>
                <div class="divAuthorizationItemInput">
                    <input id="password" class="inputPrimary" type="password" autocomplete="new-password" placeholder="Пароль" />
                </div>
            </div>
            <div class="divAuthorizationItem">
                <button id="authentication" class="button" type="submit" onclick="Login()">Войти</button>
            </div>
            <div class="divAuthorizationItem">
                <a class="linkPrimary" asp-action="Index" asp-controller="Users">Забыли пароль?</a>
                <a class="linkPrimary" asp-action="Index" asp-controller="Users">Зарегистрироваться</a>
            </div>
            <div class="divAuthorizationItem">
                <p id="error" class="labelErrorPrimary" style="display: none;"></p>
            </div>
        </div>
        <div class="divAuthorizationFixFeedback">
            <a class="linkPrimary" asp-action="Index" asp-controller="Users">
                <img class="imagePrimary" src="/images/feedback.png" title="Тех.поддержка" />
            </a>
        </div>
    </div>
</body>

<script>
    //Функция авторизации
    function Login() {
        //Получаем элементы
        var login = document.getElementById("login");
        var password = document.getElementById("password");
        var error = document.getElementById("error");

        //Делаем ошибку невидимой
        error.style.display = 'none';

        //Проверяем данные
        if (login == undefined || login == null || login.value == undefined || login.value == null || login.value == "") {
            //Выводим ошибку
            ViewError('@Errors.EmptyLogin');

            //Выходим
            return;
        }
        if (password == undefined || password == null || password.value == undefined || password.value == null || password.value == "") {
            //Выводим ошибку
            ViewError('@Errors.EmptyPassword');
            
            //Выходим
            return;
        }
    }
</script>