/*БЛОКИ*/

/*Общие свойства тела*/
body {
    background-color: #272727
}

/*Блок 1*/
.divPrimary {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/*Таблица 1*/
.divGridPrimary {
    display: grid;
    position: relative;
    top: 25%;
}

/*Таблица 2*/
.divGridSecondary {
    display: grid;
    position: fixed;
    right: 5%;
    bottom: 5%;
}

/*Таблица 3*/
.divGridThird {
    display: grid;
    position: relative;
    top: 10%;
}

/*Строчная 1*/
.divInlinePrimary {
    display: flex;
    position: absolute;
    left: 5%;
    top: 5%;
}

/*Строчная 1*/
.divInlineSecondary {
    display: flex;
    position: relative;
    left: 37.5%;
    width: 25%;
    margin-top: 50px;
}


/*ТЕКСТ*/

/*Заголовок 1*/
.labelTitlePrimary {
    text-align: center;
    font-family: Ofont ru Optimus;
    font-size: 25px;
    color: #D9D9D9;
}

/*Ошибка 1*/
.labelErrorPrimary {
    font-family: Georgia;
    font-size: 20px;
    color: #FFD700;
}

/*Текст 1*/
.labelTextPrimary {
    position: relative;
    left: 37.5%;
    width: 25%;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: Georgia;
    font-size: 20px;
    color: #D9D9D9;
}

/*Текст 2*/
.labelTextSecondary {
    margin-top: 1px;
    margin-left: 10px;
    font-family: Georgia;
    font-size: 20px;
    color: #D9D9D9;
}


/*ПОЛЯ ВВОДА*/

/*Общие свойства текста по-умолчанию в полях ввода на разных браузерах*/
::-webkit-input-placeholder {
    color: #7A7A7A;
}
:-moz-placeholder {
    color: #7A7A7A;
}
::-moz-placeholder {
    color: #7A7A7A;
}
:-ms-input-placeholder {
    color: #7A7A7A;
}

/*Ввод 1*/
.inputPrimary {
    position: relative;
    left: 37.5%;
    height: 50px;
    width: 25%;
    margin-top: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    outline: none;
    font-family: Georgia;
    font-size: 20px;
    color: #D9D9D9;
}

/*Флаг 1*/
.inputCheckPrimary {
    height: 20px;
    width: 20px;
    background-color: #D9D9D9;
    border: hidden;
    border-radius: 10px;
    outline: none;
}


/*КНОПКИ*/

/*Кнопка 1*/
.buttonPrimary {
    padding: 0;
    position: relative;
    left: 45%;
    height: 40px;
    width: 10%;
    margin-top: 50px;
    background-color: #D9D9D9;
    border: hidden;
    border-radius: 10px;
    font-family: Georgia;
    font-size: 20px;
    color: #272727;
    cursor: pointer;
}

/*Кнопка 2*/
.buttonSecondary {
    padding: 0;
    height: 75px;
    width: 75px;
    background-color: transparent;
    border: hidden;
    outline: none;
    cursor: pointer;
}

/*Кнопка 3*/
.buttonThird {
    padding: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: hidden;
    outline: none;
    cursor: pointer;
}

/*ССЫЛКИ*/

/*Общие свойства ссылки*/
a {
    color: #D9D9D9;
}

/*Общие свойства посещённой ссылки*/
a:visited {
    color: #D9D9D9;
}

/*Общие свойства активной ссылки*/
a:active {
    color: #7A7A7A;
}

/*Ссылка 1*/
.linkPrimary {
    text-align: center;
    margin-top: 25px;
    font-family: Georgia;
    font-size: 15px;
    color: #D9D9D9;
}


/*ИЗОБРАЖЕНИЯ*/

/*Общие сойства изображения*/
img {
    background-color: transparent
}

.imagePrimary {
    height: 75px;
    width: 75px;
}

.imageSecondary {
    height: 25px;
    width: 25px;
}

/*ШРИФТЫ*/

@font-face {
    font-family: 'Georgia';
    src: url("/fonts/Georgia.ttf");
}

@font-face {
    font-family: 'Ofont ru Optimus';
    src: url("/fonts/Ofont_ru_Optimus.ttf");
}