<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
</head>
<body>
    <script src="/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/lib/jquery-inputmask/dist/jquery.inputmask.bundle.min.js"></script>
    <script src="/js/site.js"></script>
    <div class="divMain">
        @RenderBody()
    </div>
</body>
</html>