<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/site.css" rel="stylesheet">
</head>
<body>
    <div class="divPrimary">
        @RenderBody()
    </div>
</body>
</html>
