@page

@{
    ViewBag.Title = "Регистрация пользователя";
    Layout = "/Pages/OutOfCategories/_Layout.cshtml";
}

<body>
    <div class="divInlinePrimary">
        <button id="back" class="buttonThird" type="button">
            <img class="imageSecondary" src="/images/back.png" title="Назад" />
        </button>
        <p class="labelTextSecondary">Регистрация пользователя</p>
    </div>
    <div class="divGridThird">
        <p class="labelTextPrimary">Логин*:</p>
        <input id="login" class="inputPrimary" type="text" autocomplete="new-password" placeholder="Введите логин" />
        <p class="labelTextPrimary">Пароль*:</p>
        <input id="password" class="inputPrimary" type="password" autocomplete="new-password" placeholder="Введите пароль" />
        <p class="labelTextPrimary">Фамилия*:</p>
        <input id="lastName" class="inputPrimary" type="text" autocomplete="new-password" placeholder="Введите фамилию" />
        <p class="labelTextPrimary">Имя*:</p>
        <input id="firstName" class="inputPrimary" type="text" autocomplete="new-password" placeholder="Введите имя" />
        <p class="labelTextPrimary">Отчество*:</p>
        <input id="patronimyc" class="inputPrimary" type="text" autocomplete="new-password" placeholder="Введите отчество" />
        <p class="labelTextPrimary">Пол*:</p>
        <div class="divInlineSecondary">
            <input id="gener" class="inputCheckPrimary" type="checkbox" placeholder="Укажите пол" checked />
            <p class="labelTextSecondary">Мужской</p>
        </div>
    </div>
</body>